/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap'); */

label, input {
    display: block;
  }
  body {
    background: #f1f1f1;
    margin: 0;
    font-family: "Poppins";
  }
  input {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
    form button  {
    background: var(--primary);
    border: 0;
    color: #fff;
    padding: 10px;
    font-family: "Poppins";
    border-radius: 4px;
    cursor: pointer;
  }
  div.error {
    padding: 10px;
    background: #ffefef;
    border: 1px solid var(--error);
    color: var(--error);
    border-radius: 4px;
    margin: 20px 0;
  }
  input.error {
    border: 1px solid var(--error);
  }
  
  /* navbar */
  nav {
    display: flex;
    align-items: center;
  }
  nav a {
    margin-left: 10px;
  }
  nav button {
    background: #fff;
    color: var(--primary);
    border: 2px solid var(--primary);
    padding: 6px 10px;
    border-radius: 4px;
    font-family: "Poppins";
    cursor: pointer;
    font-size: 1em;
  }
  
  /* auth forms */
  form.signup, form.signin {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    border-radius: 4px;
  }
  form button {
    background: var(--primary);
    border: 0;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
  }
.editTask{
  max-width:600px;
  background-color: #fff;
}
.editTask input{
  border: none;
  margin: 0;
}
  
/* styles.css */

/* Cancel button */
.cancel-button {
  background-color: #E74C3C;
  color: #FFFFFF;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 20px;
}

/* Hover effect for Cancel button */
.cancel-button:hover {
  background-color: #C0392B;
}

.display{
  margin-left: 70px;
}

/* Save button */
.save-button {
  background-color: #3498DB;
  color: #FFFFFF;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Hover effect for Save button */
.save-button:hover {
  background-color: #2980B9;
}

.headBox{
  width:800px;
  height:200px;
  margin: 20px 20px;
  padding: 10px;
  background-color: #f1f1f1;
  border:1px solid lightgray;
  font-family: sans-serif;
}

.headBox input{
  border: none;
  padding: none;
}

.addTask{
  width: 500px;
  height:124px;
  margin: 4px auto;
  padding: 10px;
  background-color: #f1f1f1;
  border:2px solid lightgray;
  font-family: sans-serif;
}
.addTask input{
  border: none;
  padding: none;
}

.addInput{
  font-weight: lighter;
  background-color: #f1f1f1;
  line-height: 1;
  padding:0;
  margin:0;
}
  header {
    background: #fff;
  }
  header .container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header a {
    color: #333;
    text-decoration: none;
  }

  .task-details {
    background: #fff;
    border-radius: 4px;
    margin: 20px auto;
    padding: 20px;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
  }
  .create{
    background-color: #333;
    color:#f1f1f1;
    padding: 6px;
    margin-top: 7px;
  }
  .play{
    display: flex;
    justify-content: space-between;
    /* margin-left: 70px; */
    padding: 10px;
    margin-left: 30px;
    margin-right: 100px;
  }

  .navbar{
    display: flex;
    justify-content: space-between;
    padding-left:10px;
    padding-right: 10px;
  }
.group{
  
  margin-left: 20px;
}
.group form {
  border: black;
  width:400px;
  margin-top: 20px;
  background-color: #fff;
  padding: 20px;
}
.group input{
  border: none;
  margin:3px;
}
.group form div {
  margin-left:180px
}
.group button{
  margin-right: 20px;
}
.addTaskB{
  /* background-color: #CED4DA; */
  padding:5px;
  margin-left:20px;
}

.addTaskB:hover{
  color:'red'
}


